body { 
  margin:0px;
}

.content{
    position:fixed;
	margin-top:50px;
	width:100%;
    border-top:1px solid red;
    background-color: white;
    margin-bottom:5px;    
}

.content .ibox{
    margin-top:15px;
    height:30px;
    border-right:1px solid green; 
}

.content #top{   
    height:80px;    
}

.content #middle {
    font-size: 14px;
    height:90px;
    padding-top:5px;    
}

.content #footer {
    margin-top:10px;
    height:500px;
    
}
.content #footer .select_days div{
    height:35px;
}


.all_charts div{
    height:450px;
      
}