<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mini Monitor Platform</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/mycustom.css" type="text/css" rel="stylesheet">
    <link href="/static/thridplug/jquery.contextMenu.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet">

  </head>
  <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="header" style="ertical-align:middle;text-align:center">
                  {% block title %}{% endblock %}
            </div>
        </nav>
        <div class="content">
        {% block content %}
             
             
        {% endblock %}
        </div> 

    <script  type="text/javascript" src="/static/js/jquery.1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/thridplug/jquery.contextMenu.min.js"></script>

   <!-- <script src="/static/js/datatables.min.js"></script> -->
    <script type="text/javascript">
 
       $(document).ready(function(){
          //lastdata_view();
       })    
    </script>
    {% block js_script %}
    {% endblock %}
  </body>
</html>