{% extends 'base.html'%}
{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3 ibox">
                   <span>服务器总计: {{ host_total_count }}</span>
            </div>
            <div class="col-md-3 ibox">
                   <span>物理机:{{ host_physical_count }} </span>
            </div>
            <div class="col-md-3 ibox">
                   <span>虚拟机：{{ host_vtrul_count }}</span>
            </div>
            <div class="col-md-3 ibox">
                   <span>网络设备: {{ net_hardware_count }}</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
            
        <table data-toggle="table">
        <thead>
           <tr>
            <th class="text-center">#</th>
            <th class="text-center">IP</th>
            <th class="text-center">类型</th>
            <th class="text-center">操作系统</th>
            <th class="text-center">CPU</th>
            <th class="text-center">内存</th>
            <th class="text-center">硬盘</th>
            <th class="text-center">状态</th>
            <th class="text-center">更新时间</th>
            <th class="text-center">描述</th>
           </tr>            
        </thead>
            <tbody>
            {% for obj in  rep_data %}
              <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center">{{ obj.ipaddr }}</td>                        
                <td class="text-center">{{ obj.get_host_style_display }}</td>
                <td class="text-center">{{ obj.sys_version }}</td>
                <td class="text-center">{{ obj.cpu }}</td>
                <td class="text-center">{{ obj.memory }}</td>
                <td class="text-center">{{ obj.disk }}</td>
                <td class="text-center">{{ obj.get_status_display }}</td>
                <td class="text-center">{{ obj.date_added }}</td>
                <td class="text-center">{{ obj.comment }}</td>
              </tr>   
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>






    



{% endblock %}
