{% extends 'base.html' %}
{% load  mytags %}


{% block title %}
      <span>
        <h3>设备信息</h3>       
      </span>
      <div style="position:absolute;right:0px;bottom:0px;width:60px;">
        <a href="{% url 'addhost' %}">添加设备</a>
      </div>
{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3 ibox">
                   <span>服务器总计: {{ host_total_count }}</span>                   
            </div>
            <div class="col-md-3 ibox">
                   <span>物理机:{{ host_physical_count }} </span>
            </div>
            <div class="col-md-3 ibox">
                   <span>虚拟机：{{ host_vtrul_count }}</span>
            </div>
            <div class="col-md-3 ibox">
                   <span>网络设备: {{ net_hardware_count }}</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
            
        <table data-toggle="table">
            <thead>
               <tr>
                <th class="text-center">#</th>
                <th class="text-center">IP</th>
                <th class="text-center">类型</th>
                <th class="text-center">操作系统</th>
                <th class="text-center">CPU</th>
                <th class="text-center">内存</th>
                <th class="text-center">硬盘</th>
                <th class="text-center">状态</th>
                <th class="text-center">MySQL</th>                
                <th class="text-center">更新时间</th>
                <th class="text-center">描述</th>
               </tr>            
            </thead>
            <tbody id="rows">
            {% for obj in  rep_data %}
              <tr id="{{ obj.id }}">
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center"><a href="{% url 'hostdetail' obj.id %}" text-decoration:none;>{{ obj.ipaddr }}</a></td>            
                <td class="text-center">{{ obj.get_host_style_display }}</td>
                <td class="text-center">{{ obj.sys_version }}</td>
                <td class="text-center">{{ obj.cpu }}</td>
                <td class="text-center">{{ obj.memory }}</td>
                <td class="text-center">{{ obj.disk }}</td>
                <td class="text-center">{{ obj.get_status_display }}</td>
                <td class="text-center">{% if obj.db_instance == 1 %}
                                            <a href="{% url 'getdbdetail' obj.id %}">{{ obj.get_db_instance_display }}</a>
                                        {% else %}
                                            {{ obj.get_db_instance_display }}
                                        {% endif %}
                </td>
                <td class="text-center">{{ obj.date_added }}</td>
                <td class="text-center">{{ obj.comment|covert_fmt }}</td>
              </tr>   
            {% endfor %}
            </tbody>
        </table>
        <table id="t_hostlist"></table>
    </div>
</div>

{% endblock %}


{% block js_script %}
<script style="text/javascript">

        $(document).ready(function(){
                 
            $.contextMenu({
                selector: "#rows tr",
                items: {
                    "delete" : {
                        name:"删除",
                        icon:"delete",
                        callback:function(){
                                if(confirm("确认要删除数据吗")){
                                    console.log($(this).attr('id'));
                                    var sid = $(this).attr('id');
                                    var req_url = "{% url 'assetslist' %}";
                                    $.ajax({
                                        type : 'DELETE',
                                        url : req_url,
                                        data: {"hid":sid},
                                        datatype : 'json',
                                        error : function(){
                                              
                                        },
                                        success: function(data){
                                                    console.log(data);
                                                    window.location.reload();       
                                                        
                                        }
                                                                       
                                    });                                                                                    
                                }else{
                                    console.log("删除失败");
                                }
                                                               
                        },
                
                
                    }
                },
            })
             
        }) 
        

        

   
        function monitor_host_list(){
          var t =  $('#t_hostlist').bootstrapTable({
              url: "{% url 'index' %}",
              method: 'GET',
              dataType: "json",
              striped: true,
              undefinedText : '空',
              pagination: true,
              showToggle: "true",
              showColumns: "true",
              pageNumber: 1,
              pageSize: 5,
              pageList:[5,10],
              paginationPreText: '上一页',
              paginationNextText: '下一页',
              search: false,
              data_local: "zh-US",
              sidePagination: "server",
              queryParams: function(params){
                  return {
                    cp: (params.offset/params.limit)+1,
                    ps: params.limit
                  };
              },
              idField: "id",
              columns : [{
                     title: '#',
                     field: 'id',                     
                   },{
                     title: 'IP',
                     field: 'ip',                 
                   },{
                     title: '类型',
                     field: 'hstyle',
                   },{
                     title: '操作系统',
                     field:  'sysver'
                   },{
                     title: 'CPU',
                     field: 'cpu'               
                   },{
                     title: '内存',
                     field: 'mem'               
                   },{
                     title: '硬盘',
                     field: 'disk'               
                   },{
                     title: '状态',
                     field: 'status'               
                   },{
                     title: '更新时间',
                     field: 'addtime'               
                   },{
                     title: '描述',
                     field: 'context'               
                   }
 
               ]
           });
       
       
       }



        
        


</script>
{% endblock %}
